# Plebindex UI
SERVER_NAME=plebscan.com
NEXT_PUBLIC_APP_TITLE=PlebIndex
NEXT_PUBLIC_APP_DESCRIPTION=A Plebbit Crawler and Indexing Server
NODE_ENV=production
NEXT_PUBLIC_API_BASE_URL=http://crawler:3001

# Crawler with auth-key
PLEBBIT_WS_URL=ws://plebbit-cli:9138/Fslcxoxoxoxoxokdkdkdkdkdkkdk
# Queue refresh interval in hours (default: 6)
QUEUE_REFRESH_INTERVAL=24
# OpenRouter API settings for content moderation
# Replace with your actual OpenRouter API key
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENROUTER_MODEL=deepseek/deepseek-chat-v3-0324:free
OPENROUTER_MODEL_B=meta-llama/llama-4-maverick:free
OPENROUTER_MODEL_C=google/gemini-2.0-flash-exp:free
# Content moderation settings
SITE_URL=https://plebscan.com
SITE_NAME=PlebIndex
CONTENT_MODERATION_INTERVAL=30
