.header-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header-flex-row {
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }
  
  .search-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
}
